@page "/delete/{id:int}"
@model ProductAppWebApp.Pages.DeleteModel
@{
    ViewData["Title"] = "Deletar produto";
}

<h2>Tem certeza que deseja deletar esse produto?</h2>

<div class="product-info">
    <dl>
        <dt>@Html.DisplayNameFor(model => model.product.Name)</dt>
        <dd>@Html.DisplayFor(model => model.product.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.product.Stock)</dt>
        <dd>@Html.DisplayFor(model => model.product.Stock)</dd>

        <dt>@Html.DisplayNameFor(model => model.product.Price)</dt>
        <dd>@Html.DisplayFor(model => model.product.Price)</dd>
    </dl>
</div>

<form method="post" class="pt-1">
    <input type="hidden" asp-for="product.ID" />
    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"></i> Deletar</button> 
    <a asp-page="Index" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
</form>
