@page 
@model IndexModel
@{
    ViewData["Title"] = "Product App";
}

<a asp-page="Create" class="btn btn-primary"><i class="fa-solid fa-file"></i> Novo produto</a>

<form class="col-md-4 pt-2">
    <div class="input-group ">
        <input type="text" class="form-control" id="searchQuery" asp-for="SearchString" placeholder="Buscar produtos..."><button type="submit" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
    </div>
</form>

<div class="table-wrapper col-md-10 mt-2">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>
                        <a class="tablelink" asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-SearchString="@Model.SearchString">
                            Nome
                        </a>
                    </th>
                    <th>
                        <a class="tablelink" asp-page="./Index" asp-route-sortOrder="@Model.StockSort" asp-route-SearchString="@Model.SearchString">
                            Estoque
                        </a>
                    </th>
                    <th>
                        <a class="tablelink" asp-page="./Index" asp-route-sortOrder="@Model.PriceSort" asp-route-SearchString="@Model.SearchString">
                            Preço
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td class="align-middle">
                            <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.ID"><i class="fa-solid fa-pen"></i> Editar</a>
                            <a asp-page="./Product" class="btn btn-primary" asp-route-id="@item.ID"><i class="fa-solid fa-circle-info"></i> Detalhes</a>
                            <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.ID"><i class="fa-solid fa-circle-xmark"></i> Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
