@page 
@model IndexModel
@{
    ViewData["Title"] = "Product App";
}

<a asp-page="Create" class="btn btn-primary">Novo produto</a>

<form class="col-md-4 pt-2">
    <div class="input-group ">
        <input type="text" class="form-control" id="searchQuery" asp-for="SearchString" placeholder="Buscar produtos..."><input type="submit" value="Buscar" class="btn btn-success"/>
    </div>
</form>

<div class="col-md-10 pt-2">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-SearchString="@Model.SearchString">
                        Nome
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.StockSort" asp-route-SearchString="@Model.SearchString">
                        Estoque
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort" asp-route-SearchString="@Model.SearchString">
                        Preço
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Product" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>