@page "/product/{id:int}"
@model ProductAppWebApp.Pages.ProductModel
@{
    ViewData["Title"] = "Produto";
}

<div class="product-info">
    <dl>
        <dt>@Html.DisplayNameFor(model => model.product.Name)</dt>
        <dd>@Html.DisplayFor(model => model.product.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.product.Stock)</dt>
        <dd>@Html.DisplayFor(model => model.product.Stock)</dd>

        <dt>@Html.DisplayNameFor(model => model.product.Price)</dt>
        <dd>@Html.DisplayFor(model => model.product.Price)</dd>
    </dl>
</div>

<div class="pt-1">
    <a asp-page="./Edit" asp-route-id="@Model.product.ID" class="btn btn-primary"> <i class="fa-solid fa-pen"></i> Editar</a> 
    <a asp-page="./Delete" asp-route-id="@Model.product.ID" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"></i> Deletar</a> 
    <a asp-page="Index" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
</div>
